# Pycharm
.idea/

__pycache__/

# Pip
*.egg-info/

# Virtualenv
venv/

# Run directories
*_breakout*
demonstrations/
BreakoutDemonstrations/
lfh/return_ordered_demononstrations
lfh/player_ordered_demonstrations

# vs code
.vscode/

# Other 
*.zip